/* -- Import Open Sans font -- */
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:400,800');
/* -- Import Karla font -- */
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

/* -- Simple body text styling -- */
body{
    margin: 0; padding: 0;
    overflow:hidden;
    background-color: black;
    width:100%;
    height:100%;
    background-size:cover
}

h1, h2, p {
font-family: 'Karla', sans-serif;
color: #ee5005;
}

/* --Simple reset button styling -- */
.resetButton{
  color: white;
  text-align: center;
  margin: auto
}

.btn-default{
  border-radius: 5%;

}

/* -- Simple canvas rules.
z-index places canvas below text and button -- */
canvas{
  position: absolute;
  z-index: -11
}

/* --Define canvas default margins -- */
#mycanvas{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
