/* -- Import Open Sans font -- */
@import url('https://fonts.googleapis.com/css?family=Roboto');



body{
    margin: 0; padding: 0;
    overflow:hidden;
    background-color: #e20c30;
    width:100%;
    height:100%;
    background-size:cover
}

h1, h2, p {
font-family: 'Roboto', sans-serif;
color: white
}


.resetButton{
  color: white;
  text-align: center;
  margin: auto
}


canvas{
  position: absolute;
  z-index: -11
}

/* --Define canvas default margins -- */
#mycanvas{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
